<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Empresa>
    <Servidor>
        <Titulo>SGN</Titulo>
        <Server>localhost</Server>
        <Port>1433</Port>
        <Database>sms</Database>
        <User>user_web</User>
        <Password>123@net</Password>
        <SenhaAdministrador>ol7LiUsfRxg=</SenhaAdministrador>
    </Servidor>
</Empresa>
